body
{
  background: linear-gradient(94deg, rgba(0,150,255,1) 0%, rgba(36,162,86,1) 62%);
}

.top-bar
{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    color: black;
    position: fixed;
    margin-left: 40%;    
}

.top-bar a
{
    float: left;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
    border-radius: 2cm;
}

.top-bar a:hover
{
    color: white;
    font-size: 30px;
    background-color: rgb(45, 66, 99, 0.1);
    border-radius: 10%;
}

.top-bar a.active
{
    background-color: rgba(245, 60, 60, 0.612);
    color: white;
}

#kahoot
{
    display: flex;
    max-width: 75%;
    max-height: 75%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20%;
    transition: ease-in 0.25s;
    outline: 5cm, wheat;
}

#kahoot:hover
{
    transform: scale(1.1);
    z-index: 2;
}


.carousel {
    align-items: center;
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    width: 300px;
  }
  .carousel__images {
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
  }
  .carousel__images img {
    border-radius: 5px;
  }
  .carousel__button {
    background: teal;
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
  }
  .carousel__button.previous {
    left: 5px;
  }
  .carousel__button.next {
    right: 5px;
  }
  .carousel__button:hover {
    opacity: 0.5;
  }

  .images-left
  {
    margin-left: 85px;
    border-radius: 20px;
    display: flex;
  }

  .images-right
{
  margin-left: 85px;
  border-radius: 20px;
  display: flex
  
}